
.spon-heading{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    /* color: #272C2E; */
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 1px;
    /* font-weight: 500 !important;  give font weight to direct h1*/
}
.about-content{
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.6rem;
    font-size: 1.2rem;
}
.about-us-wrapper{
    height: 100%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.about-img{
    width: 500px;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 100px;
}

@media only screen and (max-width: 959px){
    .about-img{
        display: none;
    }
    .about-us-wrapper{
        width: 90%;
    }

    .about-content{
        font-size: 1rem;
        line-height: 1.4rem;
    }

    .spon-heading{
        padding-bottom: 0 !important;
    }
}