.spon-heading{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #272C2E;
    font-size: 1.2rem;
    letter-spacing: 1px;
    /* font-weight: 500 !important;  give font weight to direct h1*/
}
.tac{
    text-align: center;
}

.pepsi-logo{
    height: auto;
    width: 120px;
}
@media only screen and (max-width: 600px){
    .pepsi-logo{
        width: 90px;
    }
}
.c-btn{
    border: none;
    background-color: transparent;
    padding: 14px ;
    cursor: pointer;
    font-size: 15px;
}
.spon-btn{
    background-color: #272C2E;
    color: white;
}