.eps-wrapper{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.c-card{
    min-height: 390px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
    padding: 15px;
}
.c-card>div {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 70%;
}
.show-sm {
    display: none;
}
@media only screen and (max-width: 959px) {
    .c-card {
        height: 300px;
        padding: 3px;
    }
    .c-card>div {
        height: 60%;
    }
    .eps-wrapper {
        width: 90%;
    }
    .hide-sm {
        display: none !important;
    }
    .show-sm {
        display: block;
    }
}
@media only screen and (max-width: 600px) {
    .c-card{
        /* height: ; */
    }
}
.card-1{
    background-image: url('./../../images/events.png');
}
.card-2{
    background-image: url('./../../images/proshows.png');
}
.card-3{
    background-image: url('./../../images/sports.png');
}
.eps-btn {
    /* width: fit-content; */
}
.eps-btn>button{
    background: white !important;
    color: #272C2E !important;
    /* position: absolute; */
    /* bottom: 40px; */
    /* border: none; */
    /* padding: 13px 22px;  */
    cursor: pointer;
    /* font-size: 16px; */
    /* left:30%; */
    bottom: 0;
    width: 80%;
    border-radius: 0 ;
    position: relative;
    text-transform: none !important;
}