/* quicksand-regular - latin */
/* quicksand-regular - latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('../components/fonts/quicksand-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Quicksand Regular'), local('Quicksand-Regular'),
         url('../components/fonts/quicksand-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../components/fonts/quicksand-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../components/fonts/quicksand-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../components/fonts/quicksand-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../components/fonts/quicksand-v8-latin-regular.svg#Quicksand') format('svg'); /* Legacy iOS */
  }
  /* quicksand-700 - latin */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url('../components/fonts/quicksand-v8-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Quicksand Bold'), local('Quicksand-Bold'),
         url('../components/fonts/quicksand-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../components/fonts/quicksand-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../components/fonts/quicksand-v8-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../components/fonts/quicksand-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../components/fonts/quicksand-v8-latin-700.svg#Quicksand') format('svg'); /* Legacy iOS */
  }
/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../components/fonts/lato-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../components/fonts/lato-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../components/fonts/lato-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../components/fonts/lato-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../components/fonts/lato-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../components/fonts/lato-v14-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Quicksand';
    background: #1d1d1d;
    
}
html {
    height: 100%;
    /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
    overflow-x: hidden;
    font-family: 'Quicksand';
}
/* general */
.color-theme-red {
    color: #801B1B !important;
}
.heading {
    font-family: 'Lato';
    text-transform: uppercase;
    font-size: 2rem;
}

#body-scrollbar::-webkit-scrollbar{
    width: 8px !important;
    background-color: #f5f5f5 !important;
}
#body-scrollbar::-webkit-scrollbar-thumb {
    background-color: #999999 !important;
}
#body-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
.back-img{
    background-image: url('./../images/landing1.svg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.riviera-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.riviera-logo .main-riviera-logo{
    width: 500px;
}
.riviera-logo .tagline-logo{
    width: 460px;
    position: relative;
    right: 38px;
    bottom: 35px;
}

.iso-logo{
    position: relative;
    left: -30px;
    top: 90px;
}

.vit-logo{
    position: relative;
    left: 0;
    top: 90px;
}

/* MEDIA QUERY */
@media only screen and (max-width:600px){
    .riviera-logo .main-riviera-logo{
        width: 300px;
    }
    .riviera-logo .tagline-logo{
        width: 260px;
        right: 25px;
        bottom: 20px;
    }
    .heading{
        font-size: 1.5rem;
    }
}

/* SIDEBAR */
.sidebar div[role="document"] {
    background-color: #111;
    opacity: .8;
}
.sidebar span {
    color: #fff;
    font-family: 'Quicksand';
    margin-bottom: 1.5rem;
}
.sidebar span:hover {
    /* background-color: #555; */
}
.navlink-btn>div:hover {
    /* background-color: #333; */
    background-color: #801B1B;
}

.menu-icon{
    position: fixed !important;
    top: 0;
    z-index: 100;
    color: #fff !important;
}
.about-us-section{
    /* background: rgb(99,95,95); */
    /* background: linear-gradient(90deg, rgba(99,95,95,1) 8%, rgba(122,106,106,1) 30%, rgba(208,223,227,1) 62%); */
    /* background: url('../images/rivieraR.svg'); */
    background: url('./../images/page2.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: #1d1d1d; */
}
.sponsor-section{
    background: url('../images/page2.png');
    background-color: #1d1d1d;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.threecards-section {
    background: #333;
}
.footer-section{
    /* background: rgb(99,95,95);
    background: linear-gradient(90deg, rgba(99,95,95,1) 8%, rgba(122,106,106,1) 30%, rgba(208,223,227,1) 62%); */
    background: #1d1d1d;
}
.tac{
    text-align: center;
}
.c-btn{
    border: none;
    padding: 14px ;
    cursor: pointer;
    font-size: 15px;
}
/* general */
.navlink-btn {
    text-decoration: none;
}
.color-white {
    color: #fff;
}
.show-sm {
    display: none;
}
@media only screen and (max-width: 959px) {
    .show-sm {
        display: block;
    }
    .hide-sm {
        display: none !important;
    }
    .footer-section {
        background: url('../images/rivieraR.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .contact-form {
        width: 60%;
    }
}
@media only screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }
}

.nav-button{
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50px;
    margin-right: 10px;
    width: 200px;
    padding: .5em 0;
    color: #fff;
    font-family: 'Quicksand';
    font-size: 1em;
    cursor: pointer;
    outline: none;
}
.nav-button:hover{
    background-color: #fff;
    border-color: #333;
    color: #333;
    outline: none;
}
.nav-buttons-wrapper{
    position: absolute;
    top: 20px;
    right: 20px;
}
@media only screen and (max-width: 600px) {
    .nav-button{
        padding: .3em 1.3em;
        width: unset;
    }
    .landing-date{
        left: 50px;
    }
}
.contact-form {
    width: 80%;
}
.contact-btn {
    display: flex;
    justify-self: center;
    margin: 0 auto;
}

*:focus{
    outline: none;
}

.threecards-section{
    background: url('./../images/page2.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.landing-date{
    color: #fff;
    font-weight: bold;
    position: relative;
    bottom: 20px;
    left: -35px;
    font-size: 1.3rem;
}
@media only screen and (max-width: 600px) {
    .landing-date{
        left: -15px;
        bottom: 16px;
    }
}
.coming-soon-wrapper{
    height: 100vh;
    margin: 0;
    background: url('./../images/page2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dc5c5c;
}
.coming-soon-wrapper h1{
    font-size: 3rem;
}
.comingsoon-btn{
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: 1px;
    border-radius: 30px;
    background: transparent;
    border: 2px solid #f2f2f2;
}
.comingsoon-btn:hover{
    background: #f2f2f2;
    color: #1d1d1d;
}

.under {
    -webkit-text-decoration: #801B1B solid underline;
    text-decoration: #801B1B solid underline;
    -webkit-text-underline-position: under;
    text-underline-position: under;
  }