html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;  
}
::-webkit-scrollbar-thumb {
    background: transparent;
}

.campus-section {
    background: url('./../../../images/page2.png');
    background-color: #1d1d1d;
    background-size: contain;
}

.college-buttons{
    width: 100%;
    display: flex;
    /* justify-self: center; */
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
}

.campus-grid{
    text-align: center;
}

.collegeBtn{
    width: 100%;
    color: red !important;
    border-color: red !important;
    min-height: 75px;
    height: 75px;
}

.collegeBtn span{
    font-size: 1rem;
}

.active{
    background-color: red !important;
    color: white !important;
}

.collegeBtn:hover{
    background-color: red !important;
    color: white !important;
}

.campus{
    width: 70%;
    margin: 10px auto;
    text-align: center;
    color: white !important;
}

.registration-table{
    overflow: auto;
}

th,td,tr{
    font-size: 1rem !important;
    color: white !important;
    opacity: 1;
    text-align: center !important;
}

td{
    border-right: 1px solid rgba(224, 224, 224, 1) !important;
    border-left: 1px solid rgba(224, 224, 224, 1) !important;
    padding: 0 5px !important;
}

/* .float-rows{
    float: right;
    position: relative;
    right: 0;
}

tbody{
    width: 100px;
    position: relative;
} */

.no-border{
    border-bottom: none !important;
}

.duties{
    margin-top: 8em;
}

.duties-list{
    text-align: left;
    margin: 15px 5%;
    font-size: 20px;
}

.duties-list li{
    margin-bottom: 1.5em;
}

@media only screen and (max-width:600px){
    .duties-list{
        margin-left: -20px;
    }

    th,td,tr{
        font-size: 0.8rem !important;

    }
}