html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

.campus-section {
    background: url('./../../../images/page2.png');
    background-color: #1d1d1d;
    background-size: contain;
}

.college-buttons {
    width: 100%;
    display: flex;
    /* justify-self: center; */
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
}

.campus-grid {
    text-align: center;
}

.collegeBtn {
    width: 100%;
    color: #ef9a9a  !important;
    border-color: #811c1b !important;
    min-height: 75px;
    /* height: 75px; */
}

.collegeBtn span {
    font-size: 1rem;
}

.activeBtn {
    background-color: #811c1b !important;
    color: white !important;
}

.collegeBtn:hover {
    background-color: #811c1b !important;
    color: white !important;
}

.campus {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: white !important;
}

.registration-table {
    overflow: auto;
}

th,
td,
tr {
    font-size: 1rem !important;
    color: white !important;
    opacity: 1;
    text-align: center !important;
}

td {
    border-right: 1px solid rgba(224, 224, 224, 1) !important;
    border-left: 1px solid rgba(224, 224, 224, 1) !important;
    padding: 0 5px !important;
}

/* .float-rows{
    float: right;
    position: relative;
    right: 0;
}

tbody{
    width: 100px;
    position: relative;
} */

.no-border {
    border-bottom: none !important;
}

.duties {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 8em;
    background-color: #811c1b;
    -webkit-box-shadow: 6px 7px 48px 8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 6px 7px 48px 8px rgba(0, 0, 0, 0.8);
    box-shadow: 6px 7px 48px 8px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: all 0.5s; 
}

.duties:hover{
    -webkit-box-shadow: 3px 7px 20px -1px rgba(0,0,0,0.8);
    -moz-box-shadow: 3px 7px 20px -1px rgba(0,0,0,0.8);
    box-shadow: 3px 7px 20px -1px rgba(0,0,0,0.8);
    margin-left: 10px;
}

.duties-list {
    text-align: left;
    padding: 15px 5%;
    font-size: 20px;
    margin-bottom: 0px !important;
}

.duties-list li{
    padding-bottom: 1.5em;
}

@media only screen and (max-width:600px) {
    .duties:hover {
        margin-left: 0 !important;
    }

    .duties{
        padding: 10px;
    }

    .campus{
        width: 85%;
    }
    th,
    td,
    tr {
        font-size: 0.8rem !important;

    }
}