.card-wrapper {
    /* background: transparent; */
    background: url('../../../images/red-dots.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    margin: 0 auto;
    margin-top: 4em;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 800ms;
    /* background-position: center; */
}
.card-wrapper:hover {
    background-position: center;
    /* background-color: #fff; */
    /* width: 95%; */
}
.card-container {
    background-color: #801B1B;
    /* background-color: red; */
    color: #fff;
    padding: .5rem 1.5rem 2rem 2rem;
    opacity: .7;
    position: relative;
}
.card-container:hover {
    background-color: #fff;
    color: #801B1B;
    fill: #801B1B;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
    /* padding: .7rem 1.7rem 2.2rem 2.2rem; */
    /* height: ; */
    /* padding: .7rem 1.5rem 2.2rem 2rem; */
    /* filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(250deg) brightness(104%) contrast(101%); */
    opacity: 0.8;
}
.card-content {
    height: 200px;
    text-overflow:ellipsis;
    display: inline-block;
    overflow: auto;
    /* white-space:nowrap */
}

.card-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #801b1b;
}

.card-content::-webkit-scrollbar
{
	width: 6px;
	background-color: #801b1b;
}

.card-content::-webkit-scrollbar-thumb
{
	background-color: #fff;
}

.hovered-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #fff;
}

.hovered-scroll::-webkit-scrollbar
{
	width: 6px;
	background-color: #fff;
}

.hovered-scroll::-webkit-scrollbar-thumb
{
	background-color: #801b1b;
}

@media only screen and (max-width:600px){
    .card-content {
        height: unset;
        min-height: 200px;
    }
}
.card-eventname {
    font-weight: bold;
}
.card-contact {
    margin-top: 20px;
}
@media only screen and (max-width: 500px) {
    .card-wrapper {
        width: 100%;
    }
}

.sport-card{
    height: 170px;
    width: 80%;
}
.card-sportname{
    font-size: 1.2rem;
    font-weight: 510;
}
.sport-wrapper{
    width: 100%;
}