.single-event-section{
    width: 70%;
    height: 60%;
    margin: 8% auto;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #811c1b;
    -webkit-box-shadow: 6px 7px 48px 8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 6px 7px 48px 8px rgba(0, 0, 0, 0.8);
    box-shadow: 6px 7px 48px 8px rgba(0, 0, 0, 0.8);
    /* text-align: center; */
}


.big-loader{
    margin-top: 20%;
}

.single-event{
    width: 100%;
}

.single-main{
    border-right: 1px solid white;
    padding: 20px;
}

.single-event-desc{
    width: 80%;
}

.single-event-list{
    padding-left: 0 !important;
}

.register-btn{
    text-align: center;
    height: 4em;
}

.single-event-prize{
    font-weight: 700;
    margin-top: 0 !important;
}

.single-event-li{
    border-top: 1px solid white;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 5em;
    position: relative;
}


.single-event-li p:first-of-type{
    color: #ffa0a0;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    margin: 0 !important;
}

.single-event-li p:nth-child(2){
    font-weight: 700;
    font-size: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    margin: 0 !important;
}

@media only screen and (max-width: 600px)
{
    .single-main{
        border: 0px !important;
    }

    .single-event-desc{
        width: 100%;
    }

    .single-event-li{
        font-size: 1.2em;
    }

    .single-event-li p:first-of-type{
        font-size: 15px;
    }

    .single-event-li p:nth-child(2){
        font-size: 13px;
    }

}