.sports-section {
    background: url('./../../../images/page2.png');
    background-color: #1D1D1D;
    background-size: contain;
}
.sports-note{
    color: rgb(241, 225, 225);
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 0;
    position: relative;
    top: 20px;
}
.sports{
    margin-top: 0;
}