.team-wrapper{
    text-align: center;
    color: #333;
    font-weight: bold;
    width: 70%;
    margin: 0 auto;
}
.team-wrapper h1{
    color: #c9c9c9;
}
.teamcard-wrapper img{
    width: 200px;
    height: auto;
}
.co-patron-wrapper{
    margin-right: auto;
    margin-left: auto;
}
.teamcard-wrapper{
    position: relative;
    text-align: center;
    color: #f2f2f2;
}
.team-text{
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.teamcard-wrapper:hover img {
    opacity: 0.3;
}
  
